* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: Arial, sans-serif;
}


header {
width: 100%;
display: flex;
justify-content: space-between;
align-items: center;
padding: 15px 40px;
position: sticky;
top: 0;
z-index: 1000;
background: white;
}

.logo {
display: flex;
align-items: center;
}

.logo .sub {
font-size: 1.2rem;
font-weight: 800;
margin-left: 12px;
opacity: 1;
}

.logo-img {
  height: 40px;
  margin-right: 10px;
}


nav ul {
list-style: none;
display: flex;
gap: 30px;
}


nav ul li a {
text-decoration: none;
font-size: 1.1rem;
transition: 0.3s;
color: #000;
}


nav ul li a:hover {
color: #00d17a;
}



.hero {
    position: relative;
    width: 100%;
}

.hero-img {
    width: 100%;
    height: 50vh;
    object-fit: cover;
    display: block;
}

.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}

.hero-text h2 {
    font-size: 2,2rem;
    margin-bottom: 10px;
}

.hero-text p {
    font-size: 1.2rem;
    margin-top: 16px;
}


.card {
    text-align: center;
    padding: 40px 20px;
}

.card h2 {
    font-size: 2rem;
    margin-bottom: 30px;
    font-weight: 700;
}

.canchas-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}

.canchas-card {
    background: #fff;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 2px 8px rgba(0,0,0,0.12);
    transition: transform 0.2s ease;
}

.canchas-card:hover {
    transform: scale(1.03);
}

.canchas-card img {
    width: 100%;
    height: 200px;
    object-fit: contain;
}

.canchas-card p {
    margin-top: 10px;
    padding: 15px;
    font-size: 1.1rem;
}



.reserva {
    width: 100%;
    padding: 40px;
    display: flex;
    justify-content: flex-start;
    background: white;
    padding-left: 80px;
}

.reserva-contenido {
    width: 310px;
    border: 1px solid rgba(0,0,0,.2);
    padding: 20px;
    border-radius: 8px;
}

.reserva-contenido h2 {
    text-align: center;
    font-size: 2.2rem;
    color: #111;
    margin-bottom: 10px;
}

.form-reserva {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form-reserva label {
    font-size: 1rem;
    font-weight: bold;
    color: #222;
}

.form-reserva input,
.form-reserva select {
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 1rem;
}

.btn-reserva {
    padding: 12px;
    background: #00a83c;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: .2s;
}

.btn-reserva:hover {
    background: #008f32;
}



