version: '3.9'

services:
  db:
    image: postgres:15
    container_name: complejo_db
    restart: always
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin123
      POSTGRES_DB: complejo_deportivo
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
