.admin-layout {
    display: flex;
    min-height: 100vh;
    padding-top: 70px; /* header fixed */
    background-color: #f5f7f6;
}

.admin-sidebar {
    width: 220px;
    background-color: #0c2016;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.admin-sidebar h2 {
    color: white;
    margin-bottom: 20px;
}

.admin-sidebar a {
    color: #dcdcdc;
    text-decoration: none;
    padding: 10px;
    border-radius: 6px;
    transition: 0.2s;
}

.admin-sidebar a:hover {
    background-color: #1e6f43;
    color: white;
}

.admin-main {
    flex: 1;
    padding: 40px;
}

.admin-card {
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 6px 20px rgba(0,0,0,0.08);
}
.admin-card .title {
    color: #1a1a1a;
}

.admin-layout {
    background-color: #1b2821;
}

.admin-card .label {
    color: #1a1a1a;
}

.admin-card .input {
    color: #1a1a1a;
    background-color: #182b21;;
}


.admin-card .input {
    color: white;
    border: 1px solid #ffffff33;
}

.admin-card .input::placeholder {
    color: #cccccc;
}