@import "https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css";
@import url('https://fonts.googleapis.com/css2?family=Momo+Trust+Display&display=swap');

.main{
    padding-top: 70px;
}

.contenedor-principal {
    background-color: #1a4a30;
    display: flex;
    width: 100%;
    min-height: 100vh;
    height: auto;
}


.lado-imagen {
    flex: 1;
    background-image: url("../images/fondo.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 100px;     /* Empuja todo el contenido 100px hacia abajo */
    gap: 30px;
}

.capa-imagen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.45);
}

.texto-imagen {
    position: relative;
    max-width: 450px;
    text-align: center;
    color: white;
    padding: 20px;
    font-family: "Momo Trust Display", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.titulo-izquierdo{
    font-size: 2.2rem;
    font-weight: 700;
    margin-bottom: 10px;
}

.subtitulo-izquierdo{
    font-size: 1.2rem;
    opacity: 0.9;
}

.titulo-login{
    font-family: "Momo Trust Display", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: rgb(255, 255, 255);
}

.lado-login {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 100px;     /* Empuja todo el contenido 100px hacia abajo */
    gap: 30px; 
    padding-bottom: 50px;
}

.login-caja {
    width: 90%;
    max-width: 400px;
    height: auto;
}

.field{
    width: 100%;
}

.login-caja form {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
}

.box {
    background: rgba(12, 32, 22, 0.92);
    backdrop-filter: blur(6px);
}

.recordar{
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
}

.recordar a {
    color: rgb(179, 178, 178);
}

.registrarse{
    padding-top: 10px;
}

.button.is-primary {
    margin-top: "50px";
    background-color: rgb(2, 95, 44) ;
    border-color: rgb(21, 84, 49);
    color: rgb(205, 205, 205);
}
.button.is-primary:hover {
    background-color: rgb(20, 82, 47);
}


@media (max-width: 768px) {
    .contenedor-principal {
        flex-direction: column;
    }
    .texto-imagen{
        display: flex;
        flex-direction:column;
        margin-top: 75px;
        font-size: 10;
    }
    .titulo-login{
        display: flex;
        flex-direction: column;
        padding-bottom: 10px;
    }
}

@media (max-width: 480px) { 
    .contenedor-principal {
        flex-direction: column;
    }
    .texto-imagen{
        display: flex;
        flex-direction:column;
        margin-top: 75px;
        font-size: 10;
    }
    .titulo-login{
        display: flex;
        flex-direction: column;
        padding-bottom: 10px;
    }
}