* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: Arial, sans-serif;
}

body{
    background-color:rgb(7, 65, 7)
}


.logo {
display: flex;
align-items: center;
}

.logo .sub {
font-size: 1.2rem;
font-weight: 800;
margin-left: 12px;
opacity: 1;
}

.logo-img {
  height: 40px;
  margin-right: 10px;
}


nav ul {
list-style: none;
display: flex;
gap: 30px;
}


nav ul li a {
text-decoration: none;
font-size: 1.1rem;
transition: 0.3s;
color: #000;
}


/* --- Estilos para la tarjeta de reseña --- */

main {
    display: flex;
    flex-wrap: wrap;

    justify-content: center;
    align-content: center;
    padding: 20px;

    gap: 20px;
    padding-top: 100px;


}

.card {
    background-color: #1a4f1a; 
    border-radius: 12px;
    width: 350px;
    padding: 20px;
    color: white; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);

    margin: 10px;
}

.card-info {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.card-img {
    width: 40px;
    height: 40px;
    border-radius: 50%; 
    margin-right: 10px;
}

.card-detalles {
    display: flex;
    flex-direction: column;
}

.card-name {
    font-weight: bold;
    font-size: 1rem;
}

.card-date {
    font-size: 0.8rem;
}

/*2 Titulo de la reseña */
.card-title {
    font-size: 1.4rem;
    font-weight: 800;
    margin-bottom: 10px;
}

/*3 Texto de la reseña */
.card-text {
    font-size: 0.95rem;
    line-height: 1.4;
    margin-bottom: 20px;
}

/*4 Botones*/
.card-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-link {
    color: white;
    font-size: 0.9rem;
    opacity: 0.8;
}