* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: Arial, sans-serif;
}

.hero {
    position: relative;
    width: 100%;
}

.hero-img {
    width: 100%;
    height: 60vh;
    object-fit: cover;
    filter: blur(1px) brightness(0.6); 
    transform: scale(1.05);

}

.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    animation: fadeInUp 1.3s ease forwards;
    z-index: 3;
}

/* animacion*/
@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translate(-50%, -50%) translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translate(-50%, -50%) translateY(0);
    }
}


.hero-text h2 {
    font-size: 2,2rem;
    margin-bottom: 10px;
}

.hero-text p {
    font-size: 1.2rem;
    margin-top: 16px;
}


.card {
    text-align: center;
    padding: 40px 20px;
}

.card h2 {
    font-size: 2rem;
    margin-bottom: 30px;
    font-weight: 700;
}

.canchas-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}

.canchas-card {
    background: #fff;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 2px 8px rgba(0,0,0,0.12);
    transition: transform 0.2s ease;
}

.canchas-card:hover {
    transform: scale(1.03);
}

.canchas-card img {
    width: 100%;
    height: 200px;
    object-fit: contain;
}

.canchas-card p {
    margin-top: 10px;
    padding: 15px;
    font-size: 1.1rem;
}



.planes {
    width: 100%;
    padding: 40px;
    display: flex;
    justify-content: space-between;
    background: white;
    padding-left: 40px;
    gap: 20PX;
}

.planes-contenido {
    width: 290px;
    min-height: 310px;
    border: 1px solid rgba(0,0,0,.2);
    padding: 20px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.planes-contenido h2 {
    text-align: center;
    font-size: 1.8rem;
    color: #0a0a0a;
    margin-bottom: 12px;
    font-weight: 700;
}

.precio {
    font-size: 1.6rem;
    font-weight: 700;
    color: #00a83c;
    margin-bottom: 12px;
}

.beneficios {
    margin: 10px 0 20px 0;
    padding-left: 0;
    list-style: none;
}

.beneficios li {
    margin-bottom: 8px;
    font-size: 1rem;
    color: #333;
    display: flex;
    align-items: center;
    gap: 8px;
}

.beneficios li::before {
    content: "✔";
    color: #00a83c;
    font-weight: bold;
    font-size: 0.9rem;
}

.btn {
    padding: 12px;
    background: #00a83c;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: .2s;
}

.btn:hover {
    background: #008f32;
}

.footer {
    padding: 2rem;
    text-align: center;
    background: #00a83c;
    color: white;
    margin-top: 2rem;
}* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: Arial, sans-serif;
}

.hero {
    position: relative;
    width: 100%;
}

.hero-img {
    width: 100%;
    height: 60vh;
    object-fit: cover;
    filter: blur(1px) brightness(0.6); 
    transform: scale(1.05);

}

.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    animation: fadeInUp 1.3s ease forwards;
    z-index: 3;
}

/* animacion*/
@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translate(-50%, -50%) translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translate(-50%, -50%) translateY(0);
    }
}


.hero-text h2 {
    font-size: 2,2rem;
    margin-bottom: 10px;
}

.hero-text p {
    font-size: 1.2rem;
    margin-top: 16px;
}


.card {
    text-align: center;
    padding: 40px 20px;
}

.card h2 {
    font-size: 2rem;
    margin-bottom: 30px;
    font-weight: 700;
}

.canchas-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}

.canchas-card {
    background: #fff;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 2px 8px rgba(0,0,0,0.12);
    transition: transform 0.2s ease;
}

.canchas-card:hover {
    transform: scale(1.03);
}

.canchas-card img {
    width: 100%;
    height: 200px;
    object-fit: contain;
}

.canchas-card p {
    margin-top: 10px;
    padding: 15px;
    font-size: 1.1rem;
}



.planes {
    width: 100%;
    padding: 40px;
    display: flex;
    justify-content: space-between;
    background: white;
    padding-left: 40px;
    gap: 20PX;
}

.planes-contenido {
    width: 290px;
    min-height: 310px;
    border: 1px solid rgba(0,0,0,.2);
    padding: 20px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.planes-contenido h2 {
    text-align: center;
    font-size: 1.8rem;
    color: #0a0a0a;
    margin-bottom: 12px;
    font-weight: 700;
}

.precio {
    font-size: 1.6rem;
    font-weight: 700;
    color: #00a83c;
    margin-bottom: 12px;
}

.beneficios {
    margin: 10px 0 20px 0;
    padding-left: 0;
    list-style: none;
}

.beneficios li {
    margin-bottom: 8px;
    font-size: 1rem;
    color: #333;
    display: flex;
    align-items: center;
    gap: 8px;
}

.beneficios li::before {
    content: "✔";
    color: #00a83c;
    font-weight: bold;
    font-size: 0.9rem;
}

.btn {
    padding: 12px;
    background: #00a83c;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: .2s;
}

.btn:hover {
    background: #008f32;
}

.footer {
    padding: 2rem;
    text-align: center;
    background: #00a83c;
    color: white;
    margin-top: 2rem;
}